.h1 {
    margin-bottom: 20px;
}

.dragArea {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--color-bg-2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.dragArea p {
    user-select: none;
    pointer-events: none;
}

.dragging {
    background-color: var(--color-bg-3);
}

.dragArea p {
    font-size: 1.5rem;
    color: var(--color-text-secondary);
}

.horizontal {
    display: grid;
    gap: 20px;
    grid-template-columns: 350px 1fr;
    margin-right: 20px;
}

.tableContainer {
    width: 100%;
}

.tableRow, .tableHead {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr 30px;
    padding: 5px;
    line-height: 1.5;
    border-radius: 5px;
    gap: 25px;
    align-items: center;
}

.tableRow {
    position: relative;
    overflow: hidden;
}

.tableRow p {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.tableHead p {
    font-weight: 700;
    color: var(--color-text-primary);
}

.delete svg {
    transition: color 0.1s, opacity 0.1s;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.delete:hover svg {
    color: var(--color-danger);
    opacity: 1;
}

.status, .fileName {
    color: var(--color-text-primary);
}

.statusError {
    color: var(--color-danger-text);
}

.statusSuccess {
    color: var(--color-success-text);
}

.progress {
    width: 100%;
    display: flex;
    align-items: center;
}

.percent {
    text-align: right;
    width: 5ch;
}
