h1 {
    margin-bottom: 20px;
}

.dragArea {
    width: 300px;
    height: 300px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.dragArea p {
    user-select: none;
    pointer-events: none;
}

.dragging {
    background-color: #333333;
}

.dragArea p {
    font-size: 1.5rem;
    color: #9c9c9c;
}
