.wrapper h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.wrapper h2 {
    font-size: 1.6rem;
    color: var(--color-text-primary);
    font-weight: 600;
    margin-bottom: 15px;
}

.setting {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: var(--color-text-primary);
    font-size: 1.3rem;
    font-weight: 500;
}

.info {
    color: var(--color-text-secondary);
    font-size: 1.1rem;
}

.latencyDropdown {
    transition: 0.1s background-color, 0.1s color;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--color-bg-2);
    border: none;
    outline: none;
    color: var(--color-text-secondary);
    border-radius: 5px;
}

.latencyDropdown:not(:disabled):hover {
    color: var(--color-text-primary);
    background-color: var(--color-bg-3);
}

.settingsDisabled {
    filter: brightness(0.45);
}

.primary {
    color: var(--color-text-primary);
    font-weight: bold;
}

.check {
    padding: 10px;
    font-size: 1rem;
    border: none;
    font-weight: 600;

    border-radius: 5px;
    color: var(--color-inverse-text);
    background-color: var(--color-inverse-bg);
    transition: 0.1s;
    cursor: pointer;
}

.check:hover {
    background-color: var(--color-inverse-hover);
}

.check:active, .check:disabled {
    transition: 0s;
    transform: scale(0.95);
    background-color: var(--color-inverse-active);
    filter: brightness(0.7)
}

.check:disabled {
    cursor: default;
}

.install {
    color: var(--color-text-primary);
    background-color: var(--color-primary);
}

.install:hover {
    background-color: var(--color-primary-hover);
}

.install:active, .install:disabled {
    background-color: var(--color-primary-active);
}

.updateRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 50%;
}

.progress {
    position: absolute;
    top: 50px;
    color: var(--color-text-secondary);
    font-size: 1rem;
}
