.wrapper h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.wrapper h2 {
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
}

.setting {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.info {
    color: #c0c0c0;
    font-size: 1.1rem;
}

.latencyDropdown {
    transition: 0.1s background-color, 0.1s color;
    font-size: 1rem;
    padding: 10px;
    background-color: #303030;
    border: none;
    outline: none;
    color: #c0c0c0;
    border-radius: 5px;
}

.latencyDropdown:hover {
    color: #ffffff;
    background-color: #393939;
}
