.optionBar {
    display: flex;
    margin: 15px 0;
    gap: 18px;
}

.optionBar button {
    transition: 0.1s;
    cursor: pointer;
    font-size: 1.9rem;
    color: var(--color-text-secondary);
    background: transparent;
    border: none;
}

.optionBar button:hover {
    transform: scale(1.03);
    color: var(--color-text-primary);
}

.optionBar button:active {
    color: grey;
    transition: 0s;
    transform: scale(0.97);
}

.optionDisabled, .optionDisabled:hover, .optionDisabled:active {
    cursor: default !important;
    filter: brightness(0.5);
    color: var(--color-text-secondary) !important;
    transform: none !important;
}
