.searchWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.searchLabel {
    font-size: 1.2rem;
}

.search {
    font-size: 1.1rem;
    padding: 10px;
    width: 100%;
    background: #37383b;
    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--primary);
}

.search:focus {
    border: 2px solid #bfbfbf;
}

.found {
    font-size: 1.1rem !important;
}

.searchResultsWrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.searchResults {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    overflow-y: auto;
    max-height: 230px;
    padding: 0 5px;
}

.userCard {
    border-radius: 10px;

    padding: 8px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    background-color: rgba(255,255,255,0.08);
    gap: 10px;
    transition: 50ms background-color, 50ms border;
    user-select: none;
}

.userCard:not(.alreadyMember):hover {
    background-color: rgba(255,255,255,0.12);
}

.userCard img {
    width: 50px;
    border-radius: 200px;
}

.alreadyMember {
    filter: brightness(0.5);
}

.cardMeta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.3;
}

#displayName, #displayName span, #displayName mark {
    font-size: 1.2rem;
    font-weight: 600;
}

.cardMeta mark {
    background: #385787;
    color: inherit;
    border-radius: 3px;
}

#userName {
    color: var(--secondary);
}

.invite {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: transparent;
    margin-right: 8px;
    cursor: pointer;
}

.invite svg {
    transition: 0.1s;
}

.invite:hover svg {
    color: white;
    transform: scale(1.05);
}

.invite:active svg {
    transition: 0s;
    transform: scale(0.95);
    color: #969696;
}

.userCard:hover .invite {
    color: var(--secondary);
}
