.popup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.1s;
}

.popup_inner {
    max-width: 600px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;
    background-color: #1b1b1e;
    border-radius: 15px;
}

.popup_shown {
    opacity: 1;
}

.popup_inner > div {
    width: 100%;
}

.popup_inner h1 {
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: -10px;
}

.popup_inner p {
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
}

@keyframes show-image {
    0% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1);
    }
}

