.topbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.create {
    padding: 11px;
    background-color: var(--color-bg-2);
    border: none;
    color: var(--color-text-primary);
    border-radius: 100px;
    aspect-ratio: 1;
    line-height: 1;
    cursor: pointer;
    transition: 0.15s;
}

.create:hover {
    background-color: var(--color-bg-3);
}

.create:active {
    transition: 0s;
    transform: scale(0.9);
    background-color: var(--color-bg-1);
    color: var(--color-text-secondary);
}

.finalCreate {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 15px;
    transition: 0.1s;
    cursor: pointer;
}

.finalCreate:not(:disabled):hover {
    filter: brightness(0.85);
}

.finalCreate:not(:disabled):active, .creating {
    transition: 0s !important;
    filter: brightness(0.5) !important;
    transform: scale(0.96) !important;
}

.finalCreate:disabled {
    color: var(--color-bg-3);
    opacity: 0.4;
    cursor: default;
    filter: none;
}

.popup .nameInput {
    width: 100%;
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-bg-3);
    color: var(--color-text-primary);
    outline: none;
}

.popup .titleInfo {
    color: var(--color-text-secondary);
    font-size: 0.95rem;
    text-align: left !important;
    margin-top: -5px;
}

.popup {
    gap: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--color-text-primary);
    font-size: 1.1rem;
}

.horiz {
    display: flex;
    width: 100%;
    font-size: 1.1rem;
    gap: 3px;
    align-items: center;
}

.horiz > div {
    margin-left: 10px;
}

.horiz > div {
    width: fit-content;
}

.info {
    padding: 2px;
    color: var(--color-text-secondary);
    transition: 0.1s;
}

.playlists {
    margin: 10px -15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
}
