.panelContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.authWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 100%;
    font-size: 1.2rem;
    min-height: 0;
    overflow-y: auto;
}

.panel {
    overflow-y: auto !important;
}

.resizeHandle {
    width: 4px;
    background-color: var(--color-border);
    height: 100%;
}

.mainContainer {
    flex: 1;
    width: 100%;
    display: flex;
    min-height: 0;
}
