:root {
    --primary: #ffffff;
    --secondary: #b9b9b9;
}

.cover {
    width: 230px;
    aspect-ratio: 1;
    border-radius: 8px;
}

.infoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.pageWrapper {
    padding: 70px;
}

.releaseInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.releaseTitle {
    font-size: 2.2rem;
    color: white;
    font-weight: 600;
    line-height: 1.1;
}

.artists span {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary);
}

.tracksInfo {
    font-weight: 600;
    color: var(--secondary);
    font-size: 0.9rem;
}
