.role {
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    color: var(--secondary);
    padding: 5px;
}

.changeable:hover {
    color: white;
    cursor: pointer;
}
