:root{
    /* themes */
    --color-bg: #111112;
    --color-bar: #070707;
    --color-panel: #171719;
    --color-text-primary: #E5E5E7;
    --color-text-secondary: #9B9BA0;
    --color-accent-primary: #DC143C ;
    --color-accent-hover: #FF1E56 ;
    --color-section-glow: #DC143C33 ;
    --color-border: #2E2E32 ;
}

.panelContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.displayContainer {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    user-select: none;
}

.resizeHandle {
    width: 5px;
    background-color: var(--color-border);
    height: 100%;
}

.mainContainer {
    flex: 1;
    width: 100%;
    display: flex;
    min-height: 0;
}

.panel {
    overflow-y: auto !important;
}

.songInfo {
    width: 300px;
    display: none;
}

.appContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;


}

/* themes */
:root:has(.appContainer[data-theme="dark"]) {
    --color-bg: #404042;
    --color-bar: #070707;
    --color-panel: #171719;
    --color-text-primary: #E5E5E7;
    --color-text-secondary: #9B9BA0;
    --color-accent-primary: #DC143C ;
    --color-accent-hover: #FF1E56 ;
    --color-section-glow: #DC143C33 ;
    --color-border: #2E2E32 ;
}

:root:has(.appContainer[data-theme="crimson"]) {
    --color-accent-hover: crimson;
}

:root:has(.appContainer[data-theme="purple"]) {
    --color-accent-hover: #a855f7;
}

