* {
    font-family: inherit;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter.ttf")
}

/*:root {*/
/*    --ev-c-white: #ffffff;*/
/*    --ev-c-white-soft: #f8f8f8;*/
/*    --ev-c-white-mute: #f2f2f2;*/

/*    --ev-c-black: #161616;*/
/*    --ev-c-black-soft: #222222;*/
/*    --ev-c-black-mute: #282828;*/

/*    --ev-c-gray-1: #515c67;*/
/*    --ev-c-gray-2: #414853;*/
/*    --ev-c-gray-3: #32363f;*/

/*    --ev-c-text-1: rgba(255, 255, 245, 0.86);*/
/*    --ev-c-text-2: rgba(235, 235, 245, 0.6);*/
/*    --ev-c-text-3: rgba(235, 235, 245, 0.38);*/

/*    --ev-button-alt-border: transparent;*/
/*    --ev-button-alt-text: var(--ev-c-text-1);*/
/*    --ev-button-alt-bg: var(--ev-c-gray-3);*/
/*    --ev-button-alt-hover-border: transparent;*/
/*    --ev-button-alt-hover-text: var(--ev-c-text-1);*/
/*    --ev-button-alt-hover-bg: var(--ev-c-gray-2);*/
/*}*/

/*:root {*/
/*    --color-background: var(--ev-c-black);*/
/*    --color-background-soft: var(--ev-c-black-soft);*/
/*    --color-background-mute: var(--ev-c-black-mute);*/

/*    --color-text: var(--ev-c-text-1);*/
/*}*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    color: var(--color-text-primary);
    background: var(--color-bg);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 14px;
    height: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.26);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.36);
}

.pageWrapper, .errorPage {
    padding: 30px;
}

.error {
    color: #ff8d8d;
}

.error input {
    border: 2px solid #ff8d8d !important;
}

.error span {
    padding: 5px;
    font-size: 0.9rem;
    color: #ff8d8d;
}

.pageWrapper h1 {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 600;
}

.pageWrapperFullHeight {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

button:has(svg) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button:focus {
    outline: none;
}
