.wrapper h1 {
    margin-bottom: 10px;
}

.releases {
    margin: -15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
}

.track {
    display: flex;
    flex-direction: column;
    transition: 0.1s background-color;
    cursor: pointer;
    border-radius: 7px;
    padding: 15px;
}

.link:hover {
    text-decoration: underline;
}

.track:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.cover {
    border-radius: 7px;
    -webkit-user-drag: none;
    width: 100%;
}

.coverWrapper {
    width: 100%;
    aspect-ratio: 1;
}

.title {
    margin-top: 5px;
    color: white;
    font-size: 1.15rem;
    line-height: 1.3;
}

.artist {
    color: #aaaaaa;
    font-size: 1rem;
    line-height: 1.3;
}
