.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.heading button {
    display: flex;
    align-items: center;
}

.heading svg {
    font-size: 18px;
}

.scroller {
    margin: -15px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 210px;
    gap: 10px;
    overflow: hidden;
    position: relative;
    height: 320px;
    width: 100%;
}

.scrollerShow {
    grid-auto-flow: unset;
    grid-template-columns: repeat(auto-fill, 210px);
    height: fit-content;
    margin-bottom: 30px;
}

.scroller:not(.scrollerShow)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
        to right,
        rgba(40,40,40,0) 0%,
        var(--color-bg) 100%
    );
}

.showHide {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    gap: 8px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 15px;
    gap: 10px;
}

.error button {
    border-radius: 5px;
    font-size: 1rem;
    padding: 8px;
    width: 120px;
    border: none;
    background-color: #ffffff;
    transition: 0.1s;
    color: black;
    font-weight: 500;
}

.error button:hover {
    background-color: #cccccc;
}

.error button:active {
    transform: scale(0.95);
    transition: 0s;
    background-color: #b1b1b1;
}
