.container {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: var(--color-bar);
}

.container p {
    line-height: 1;
}

.middleContainer {
    height: 100%;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.play {
    background: none;
    color: white;
    border: none;
    font-size: 29px;
}

.btnAnim {
    color: white;
    cursor: pointer;
    transition: 0.1s color, 0.1s transform;
    line-height: 1;
}

.btnAnim:hover {
    color: #a2a2a2;
}

.btnAnim:active {
    transition: 0s;
    color: #5a5a5a;
    transform: scale(0.95);
}

.rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px;
}

.volumeControl {
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
}

.volumeControl p {
    color: white;
    font-size: 18px;
    width: 3ch;
    text-align: center;
    line-height: 1;
}

.volBtn {
    background-color: transparent;
    border: none;
    color: white;
}

.volBtn svg {
    line-height: 1;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 110px;
    height: 4px;
    background: #4c4c4c;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 14px;
    background: white;
    border-radius: 2px;
    cursor: pointer;
}

.time {
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 500;
    width: 3ch;
    text-align: center;
}

#middleRow {
    gap: 15px;
}

.seekBar {
    cursor: pointer;
}

.barWrapper {
    height: 4px;
    width: 100%;
    position: relative;
}

.canvas {
    display: block;
    background-color: white;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    background: #262626;
    color: #ffffff;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
    margin-bottom: 12px;
}

.trackInfo {
    padding: 15px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.trackInfoMeta {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.trackInfoMeta p {
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.trackInfoCover {
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    aspect-ratio: 1;
}

.trackInfoCover img {
    object-fit: cover;
    -webkit-user-drag: none;
}

.trackName {
    font-size: 1rem;
    color: white;
    min-width: 0;
}

.trackArtists {
    font-size: 0.9rem;
    color: #bfbfbf;
}

.forward, .backward {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 22px;
}

.controls {
    gap: 35px;
}
