:root {
    --primary: #ffffff;
    --secondary: #b9b9b9;
}

.cover {
    width: 230px;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
}

.infoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 30px;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.pageWrapper {
    padding: 50px;
}

.releaseInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.publicPrivate {
    font-weight: 500;
    line-height: 1;
    color: var(--secondary);
    font-size: 1.1rem;
}

.releaseTitle {
    font-size: 2.6rem;
    color: white;
    font-weight: 700;
    line-height: 1.1;
}

.horiz {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    color: var(--secondary);
}

.owner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: var(--primary);
}

.owner span {
    font-size: 1rem;
    font-weight: 500;
}

.owner span:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.tracksInfo {
    font-weight: 500;
    color: var(--secondary);
    font-size: 1rem;
}

.optionBar {
    display: flex;
    margin: 15px 0;
    gap: 18px;
}

.optionBar button {
    transition: 0.1s;
    cursor: pointer;
    font-size: 1.9rem;
    color: var(--secondary);
    background: transparent;
    border: none;
}

.optionBar button:hover {
    transform: scale(1.03);
    color: white;
}

.optionBar button:active {
    color: grey;
    transition: 0s;
    transform: scale(0.97);
}

.disabled, .disabled:hover, .disabled:active {
    cursor: default !important;
    filter: brightness(0.5);
    color: var(--secondary) !important;
    transform: none !important;
}
