:root {
    --primary: #ffffff;
    --secondary: #b9b9b9;
}

.songList {
    margin-top: 20px;
    width: 100%;
}

.songRow {
    padding: 8px;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.05s;
}

.durationHeader {
    text-align: right;
    font-size: 1.4rem;
    line-height: 1;
}

.numberHeaderWrapper {
    width: 50px;
    display: flex;
    justify-content: center;
}

.headRow {
    padding: 8px;
    color: var(--secondary);
    font-size: 1.05rem;
    align-items: center;
}

.grid {
    display: grid;
    gap: 20px;
    padding-right: 50px;
}

.songRow:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#activeRow {
    transition: 0s background-color;
    background-color: rgba(255, 255, 255, 0.2);
}

.textRight {
    text-align: right;
}

.divider {
    background-color: rgba(255, 255, 255, 0.15);
    height: 1px;
    margin: 0 0 20px;
}

.trackElement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    min-width: 0;
}

.trackInfo {
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.cover {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
}

.cover img {
    object-fit: cover;
}

.trackTitle {
    color: var(--primary);
    font-size: 1.2rem;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.colWrapper {
    overflow: hidden;
    width: 100%;
}

.colWrapper > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trackArtist {
    font-size: 1.1rem;
    color: var(--secondary);
}

.trackNumberWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
}

.trackNumber {
    color: var(--secondary);
    min-width: 1ch;
    margin-right: -8px;
    transform: translateX(-50%);
}

.playButton {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    background: none;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0;
    padding: 5px;
}

.playButton svg {
    padding: 2px;
    color: white;
    transition: 0.1s color;
    transform: translateX(-2px);
}

.playButton svg:hover {
    color: #d8d8d8;
}

.playButton svg:active {
    transition: 0s color;
    color: #8a8a8a;
}

.trackAlbum {
    color: var(--secondary);
    font-size: 1.1rem;
}

.timestamp {
    color: var(--secondary);
    font-size: 1.1rem;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: white;
    text-decoration: underline;
}

.trackDuration {
    text-align: right;
    color: var(--secondary);
    font-size: 1.1rem;
}

.trackColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
}

.songRow:hover .trackNumber {
    opacity: 0;
}

.songRow:hover .playButton {
    opacity: 1;
}

.playing {
    color: #61cef6;
}

.playsHeader {
    text-align: right;
}

.plays {
    text-align: right;
    color: var(--secondary);
}

.songRow > .colWrapper:first-child {
    overflow: visible;
}
