.main {
    background-color: var(--color-panel);
    height: 100%;
    width: 5%;

    button {
        font-size: 1.15rem;
        width: 100%;
        font-weight: 500;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        color: #ffffff;
        text-align: left;
        padding: 13px;
        cursor: pointer;
        transition: 0.1s;
    }
    button:hover, button.active{
        background-color: rgb(255, 255, 255, 0.12);

        svg {
            color: white
        }
    }
    padding: 2px;
}

.category {
    margin: 25px 4px 0 4px;
    font-weight: 700;
    padding: 4px;
    color: #b2b2b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.collectionHeader {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        font-size: 1.6rem;
        color: #848484;
        transition: 0.1s;
        width: 100%;
    }
}

.collection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;

    button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        aspect-ratio: 1;
        padding: 10px;
    }

    svg {
        font-size: 1.6rem;
        color: #848484;
        transition: 0.1s;
        margin: 0;
        width: 100%;
    }
}

#album {
    transform: scale(1.1)
}
