.main {
    padding: 5px;
    background-color: var(--color-panel);
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    button {
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        color: #ffffff;
        text-align: left;

        cursor: pointer;
        transition: 0.1s;
        display: grid;
        grid-template-columns: 60px minmax(0, 1fr);
        align-items: center;
        gap: 5px;

        svg {
            width: 100%;
            height: 100%;
            padding: 15px;
            color: #848484;
            transform: scale(0.98);
            transition: 0.1s color;
        }

        .label {
            font-size: 1.1rem;
        }

        .subLabel {
            font-size: 0.95rem;
            color: var(--color-text-secondary);
        }
    }

    button:hover, button.active {
        background-color: rgb(255, 255, 255, 0.08);

        svg {
            color: #ffffff;
        }
    }

    button.active {
        background-color: rgb(255, 255, 255, 0.12);
    }
}

.isCollapsed {
    button {
        grid-template-columns: 75px;

        svg {
            padding: 22px;
        }
    }
}

.name {
    display: flex;
    flex-direction: column;
}


