.main {
    padding: 10px;
    background-color: var(--color-panel);
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    button {
        font-size: 1.1rem;
        width: 100%;
        font-weight: 500;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        color: #ffffff;
        text-align: left;
        padding: 13px 0 13px 8px;
        cursor: pointer;
        transition: 0.1s;
        text-wrap: nowrap;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: grid;
        grid-template-columns: 2vw 1fr;
    }

    button:hover, button.active {
        background-color: rgb(255, 255, 255, 0.12);

        svg {
            color: #ffffff;
        }
    }
}
.category {
    margin-top: 25px;
    font-weight: 700;
    padding: 0 13px;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #b2b2b2;
}

.collection button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.collection {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.collection button svg {
    font-size: 1.6rem;
    color: #848484;
    transition: 0.1s;
}

#album {
    transform: scale(1.1)
}
