.main {
    padding: 10px;
    background-color: var(--color-panel);
    height: 100%;
}

.main button {
    font-size: 1.15rem;
    width: 100%;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    text-align: left;
    padding: 13px;
    cursor: pointer;
    transition: 0.1s;
}

.main button:hover,
.main button.active {
    background-color: rgb(255, 255, 255, 0.12);
}

.main button:hover svg,
.main button.active svg {
    color: #ffffff;
}

.category {
    margin-top: 25px;
    font-weight: 700;
    padding: 0 13px;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #b2b2b2;
}

.collection button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.collection {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.collection button svg {
    font-size: 1.6rem;
    color: #848484;
    transition: 0.1s;
}

#album {
    transform: scale(1.1)
}
