.filterWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.filterWrapper div {
    background-color: var(--color-bg-2);
    border-radius: 18px;
    padding: 7px 13px;
    cursor: pointer;
    color: var(--color-text-primary);
    transition: 0.05s;
}

.filterWrapper div:hover {
    background-color: var(--color-bg-3);
}

.filterWrapper div p {
    font-size: 1rem;
}

.filterWrapper div.filterActive {
    background-color: var(--color-inverse-bg);
    color: var(--color-inverse-text);
}
