.title_bar {
    -webkit-app-region: drag;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bar);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    user-select: none;
}

.title {
    font-size: 24px;
    margin-left: 15px;
    font-weight: 500;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.buttons button {
    transition: 0.1s background-color;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    border: none;
    height: 100%;
    border-radius: 0;
    background-color: var(--color-bar);
    color: white;
    -webkit-app-region: no-drag;
}

.buttons button:hover {
    /*background-color: rgb(60, 60, 60);*/
    color: var(--color-accent-hover);
}

.buttons button:active {
    transition: 0s background-color;
    background-color: rgb(103, 103, 103);
}

#exit:hover {
    /*background-color: rgb(179, 39, 39);*/
}

#exit:active {
    transition: 0s background-color;
    background-color: rgb(103, 103, 103);
}

.right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.zoomContainer {
    border: none;
    transition: background-color 0.1s;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.14);
    -webkit-app-region: no-drag;
}

.zoomContainer:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.zoomLevel {
    color: #e5e5e5;
    padding: 9px;
    line-height: 1;
    font-size: 0.85rem;
}

.settingsContainer {
    display: flex;
    font-size: 25px;
    align-items: center;
    transition: color 0.4s, transform 0.4s;
    line-height: 1;
}

.settingsContainer:hover {
    color: var(--color-accent-hover);
    transform: rotate(180deg);
}

.settings {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 13px;
}

.admin {
    -webkit-app-region: no-drag;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.admin:hover {
    color: var(--color-accent-hover);
}

